.button {
  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;

  padding: 10px 32px;
  margin: 0 auto;

  color: $main-background-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  transition: background-color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  &__icon {
    margin-left: 10px;
    fill: currentColor;
  }
}
