.our-clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}

.our-clients__item {
  color: $passive-icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 2 * 30px) / 2);
  height: 92px;
  border: 1px solid $passive-icon-color;
  border-radius: 4px;
  padding: 16px 52px;
  transition: border-color 250ms $animation-timing-function;
  margin: 15px;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
  }
}

.our-clients__icon {
  fill: $passive-icon-color;
  transition: fill 250ms $animation-timing-function;

  .our-clients__item:hover &,
  .our-clients__item:focus & {
    fill: $accent-color;
  }
}
