.section--grey {
  background-color: $third-background-color;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team-member {
  background-color: $main-background-color;
  border-radius: 4px;
  margin: 15px;
}

.team-member__info {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: $desktop) {
    & {
      padding-bottom: 30px;
    }
  }
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member__position {
  color: $second-content-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media__item {
  width: 44px;
  height: 44px;

  &:not(last-child) {
    margin-right: 10px;
  }
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $passive-icon-color;
  background-color: $main-background-color;
  border-radius: 50%;
  transition: color 250ms $animation-timing-function,
    background-color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-background-color;
  }
}

.social-media__icon {
  fill: currentColor;
}
