.works-section {
  padding-top: 0;

  @media screen and (max-width: 1200px) {
    & {
      display: none;
    }
  }
}

.works {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.works__wrapper {
  position: relative;
}

.works__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 24%;

  display: flex;
  justify-content: center;
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-background-color;

  background-color: rgba(47, 48, 58, 0.8);
}
